*.iml
*.xml
web_programming/project1/project1/project1/__pycache__/application.cpython-37.pyc
web_programming/project1/project1/project1/application.py
web_programming/project1/project1/project1/__pycache__/application.cpython-37.pyc
web_programming/project1/project1/project1/application.py
web_programming/src1/src1/alert.html
web_programming/src1/src1/attribute.html
web_programming/src1/src1/before.html
web_programming/src1/src1/bootstrap.html
web_programming/src1/src1/buttons.html
web_programming/src1/src1/child.html
web_programming/src1/src1/columns0.html
web_programming/src1/src1/columns1.html
web_programming/src1/src1/columns2.html
web_programming/src1/src1/descendant.html
web_programming/src1/src1/flexbox.html
web_programming/src1/src1/form.html
web_programming/src1/src1/grid.html
web_programming/src1/src1/hover.html
web_programming/src1/src1/inheritance/inheritance.css
web_programming/src1/src1/inheritance/inheritance.css.map
web_programming/src1/src1/inheritance/inheritance.html
web_programming/src1/src1/inheritance/inheritance.scss
web_programming/src1/src1/links/hello.html
web_programming/src1/src1/links/links0.html
web_programming/src1/src1/links/links1.html
web_programming/src1/src1/multiple.html
web_programming/src1/src1/nesting/nesting.html
web_programming/src1/src1/nesting/nesting.scss
web_programming/src1/src1/print.html
web_programming/src1/src1/responsive0.html
web_programming/src1/src1/responsive1.html
web_programming/src1/src1/selection.html
web_programming/src1/src1/variables/variables.css
web_programming/src1/src1/variables/variables.css.map
web_programming/src1/src1/variables/variables.html
web_programming/src1/src1/variables/variables.scss
web_programming/src1/src1/variables/variables0.css
web_programming/src2/src2/__pycache__/functions.cpython-37.pyc
web_programming/src2/src2/classes.py
web_programming/src2/src2/conditions.py
web_programming/src2/src2/conditions/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/conditions/application.py
web_programming/src2/src2/conditions/templates/index.html
web_programming/src2/src2/decorators.py
web_programming/src2/src2/dictionaries.py
web_programming/src2/src2/first/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/first/application.py
web_programming/src2/src2/forms/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/forms/application.py
web_programming/src2/src2/forms/templates/hello.html
web_programming/src2/src2/forms/templates/index.html
web_programming/src2/src2/forms/templates/layout.html
web_programming/src2/src2/functions.py
web_programming/src2/src2/hello.py
web_programming/src2/src2/inheritance/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/inheritance/application.py
web_programming/src2/src2/inheritance/templates/index.html
web_programming/src2/src2/inheritance/templates/layout.html
web_programming/src2/src2/inheritance/templates/more.html
web_programming/src2/src2/loops/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/loops/application.py
web_programming/src2/src2/loops/templates/index.html
web_programming/src2/src2/loops0.py
web_programming/src2/src2/loops1.py
web_programming/src2/src2/macros/application.py
web_programming/src2/src2/macros/static/styles.css
web_programming/src2/src2/macros/templates/index.html
web_programming/src2/src2/macros/templates/layout.html
web_programming/src2/src2/modules.py
web_programming/src2/src2/name.py
web_programming/src2/src2/notes/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/notes/application.py
web_programming/src2/src2/notes/flask_session/2029240f6d1128be89ddc32729463129
web_programming/src2/src2/notes/flask_session/6a7679db8418db385c1eca9fd48d8eff
web_programming/src2/src2/notes/static/styles.css
web_programming/src2/src2/notes/templates/index.html
web_programming/src2/src2/notes/templates/layout.html
web_programming/src2/src2/notes/templates/more.html
web_programming/src2/src2/routes0/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/routes0/application.py
web_programming/src2/src2/routes1/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/routes1/application.py
web_programming/src2/src2/sequences.py
web_programming/src2/src2/sets.py
web_programming/src2/src2/static/application.py
web_programming/src2/src2/static/static/styles.css
web_programming/src2/src2/static/templates/index.html
web_programming/src2/src2/static/templates/layout.html
web_programming/src2/src2/static/templates/more.html
web_programming/src2/src2/templates/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/templates/application.py
web_programming/src2/src2/templates/templates/index.html
web_programming/src2/src2/urls/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/urls/application.py
web_programming/src2/src2/urls/templates/index.html
web_programming/src2/src2/urls/templates/more.html
web_programming/src2/src2/variables.py
web_programming/src2/src2/variables0/__pycache__/application.cpython-37.pyc
web_programming/src2/src2/variables0/application.py
web_programming/src2/src2/variables0/templates/index.html
web_programming/src2/src2/variables1/application.py
web_programming/src2/src2/variables1/templates/index.html
web_programming/src3/src3/__pycache__/import.cpython-37.pyc
web_programming/src3/src3/airline0/__pycache__/application.cpython-37.pyc
web_programming/src3/src3/airline0/application.py
web_programming/src3/src3/airline0/templates/error.html
web_programming/src3/src3/airline0/templates/index.html
web_programming/src3/src3/airline0/templates/layout.html
web_programming/src3/src3/airline0/templates/success.html
web_programming/src3/src3/airline1/__pycache__/application.cpython-37.pyc
web_programming/src3/src3/airline1/application.py
web_programming/src3/src3/airline1/templates/error.html
web_programming/src3/src3/airline1/templates/flight.html
web_programming/src3/src3/airline1/templates/flights.html
web_programming/src3/src3/airline1/templates/index.html
web_programming/src3/src3/airline1/templates/layout.html
web_programming/src3/src3/airline1/templates/success.html
web_programming/src3/src3/clauses.sql
web_programming/src3/src3/create.sql
web_programming/src3/src3/delete.sql
web_programming/src3/src3/flights.csv
web_programming/src3/src3/import.py
web_programming/src3/src3/index.sql
web_programming/src3/src3/insert.sql
web_programming/src3/src3/joins.sql
web_programming/src3/src3/list.py
web_programming/src3/src3/notes/application.py
web_programming/src3/src3/notes/static/styles.css
web_programming/src3/src3/notes/templates/index.html
web_programming/src3/src3/notes/templates/layout.html
web_programming/src3/src3/notes/templates/more.html
web_programming/src3/src3/passengers.py
web_programming/src3/src3/select.sql
web_programming/src3/src3/update.sql
web_programming/src4/src4/airline1/application.py
web_programming/src4/src4/airline1/templates/error.html
web_programming/src4/src4/airline1/templates/flight.html
web_programming/src4/src4/airline1/templates/flights.html
web_programming/src4/src4/airline1/templates/index.html
web_programming/src4/src4/airline1/templates/layout.html
web_programming/src4/src4/airline1/templates/success.html
web_programming/src4/src4/airline2/application.py
web_programming/src4/src4/airline2/models.py
web_programming/src4/src4/airline2/templates/error.html
web_programming/src4/src4/airline2/templates/flight.html
web_programming/src4/src4/airline2/templates/flights.html
web_programming/src4/src4/airline2/templates/index.html
web_programming/src4/src4/airline2/templates/layout.html
web_programming/src4/src4/airline2/templates/success.html
web_programming/src4/src4/airline3/application.py
web_programming/src4/src4/airline3/models.py
web_programming/src4/src4/airline3/templates/error.html
web_programming/src4/src4/airline3/templates/flight.html
web_programming/src4/src4/airline3/templates/flights.html
web_programming/src4/src4/airline3/templates/index.html
web_programming/src4/src4/airline3/templates/layout.html
web_programming/src4/src4/airline3/templates/success.html
web_programming/src4/src4/airline4/application.py
web_programming/src4/src4/airline4/models.py
web_programming/src4/src4/airline4/templates/error.html
web_programming/src4/src4/airline4/templates/flight.html
web_programming/src4/src4/airline4/templates/flights.html
web_programming/src4/src4/airline4/templates/index.html
web_programming/src4/src4/airline4/templates/layout.html
web_programming/src4/src4/airline4/templates/success.html
web_programming/src4/src4/airline5/application.py
web_programming/src4/src4/airline5/models.py
web_programming/src4/src4/airline5/templates/error.html
web_programming/src4/src4/airline5/templates/flight.html
web_programming/src4/src4/airline5/templates/flights.html
web_programming/src4/src4/airline5/templates/index.html
web_programming/src4/src4/airline5/templates/layout.html
web_programming/src4/src4/airline5/templates/success.html
web_programming/src4/src4/classes0.py
web_programming/src4/src4/classes1.py
web_programming/src4/src4/classes2.py
web_programming/src4/src4/classes3.py
web_programming/src4/src4/classes4.py
web_programming/src4/src4/classes5.py
web_programming/src4/src4/create.py
web_programming/src4/src4/currency0.py
web_programming/src4/src4/currency1.py
web_programming/src4/src4/currency2.py
web_programming/src4/src4/env.sh
web_programming/src4/src4/flights.csv
web_programming/src4/src4/google.py
web_programming/src4/src4/import0.py
web_programming/src4/src4/import1.py
web_programming/src4/src4/list0.py
web_programming/src4/src4/list1.py
web_programming/src4/src4/models.py
web_programming/src4/src4/passengers0.py
web_programming/src4/src4/passengers1.py
*.pyc
*.zip
